*.log
*.out
*.out.txt
*.pdf
*.pyc
*.tar.gz
*.xml
*.zip
.claude/
.coverage
.env
.output.txt
/*.egg-info
/*_mj.py
/.idea/*
/.pylint.d/
/.tox/
/aiohomematic_storage
/aiohomematic_test_support/aiohomematic_test_support.egg-info
/aiohomematic_test_support/dist
/dist/
/docs/_build/doctrees
/tests/aiohomematic_storage
/tmp
aiohomematic_test_support/data/*.json
build
script/*_mj.sh
site/
uv.lock
venv
