-r requirements.txt
-r requirements_test_pre_commit.txt

coverage==7.8.0
freezegun==1.5.1
mypy==1.15.0
pip==25.0.1
pre-commit==4.2.0
pur==7.3.3
pydevccu==0.1.10
pylint-per-file-ignores==1.4.0
pylint-strict-informational==0.1
pylint==3.3.6
pytest-aiohttp==1.1.0
pytest-asyncio==0.26.0
pytest-cov==6.0.0
pytest-rerunfailures==15.0
pytest-socket==0.7.0
pytest-timeout==2.3.1
pytest==8.3.5
types-python-slugify==8.0.2.20240310
uv==0.6.9
