name: "Test-Run"

# yamllint disable-line rule:truthy
on:
  pull_request: ~
  workflow_dispatch:
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13", "3.14"]
    name: Python ${{ matrix.python-version }}
    steps:
      - name: Set Timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Europe/Berlin"
          timezoneMacos: "Europe/Berlin"
          timezoneWindows: "Europe/Berlin"
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_test.txt
      - name: Run tests (InterfaceClient)
        env:
          AIOHOMEMATIC_USE_INTERFACE_CLIENT: "1"
        run: |
          echo "Testing with InterfaceClient enabled"
          time pytest tests/ -n auto --dist loadscope --asyncio-mode=legacy
      - name: Run tests (legacy client)
        env:
          AIOHOMEMATIC_USE_INTERFACE_CLIENT: "0"
        run: time pytest tests/ -n auto --dist loadscope --asyncio-mode=legacy
